.layout{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    'sidebar navbar navbar  navbar'
    'sidebar main main account';
}

@media only screen and (max-width: 600px){
    .layout{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        'navbar'
        'main';
    }
}