.overview__tableData {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background: #f4f4f4;
	border-radius: 4px;
	padding: 14px 0;
    padding-left: 12px;
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: #121212;
    overflow: hidden;

    .fee{
        font-weight: 900;
    }
}
