input[type="text"] {
	width: 97px;
    height: 32px;
	border: none;
	outline: none;
	color: #01161e;
	padding: 12px 20px 12px 30px;
	background: url("../assest/search.png") no-repeat 10px 7px;
	background-color: #f4f4f4;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #979797;

	&:focus {
		width: 200px;
	}

}
